<div class="row searching">
	<div class="col-lg-1">
		<img class="logo searching" src="/images/logo-small.png">
	</div>
	<div class="col-lg-10">
		<input class="form-control search-bar" id="search" type="text">
	</div>
</div>