@import "bootstrap";
@import "font-awesome";

.search {
	.logo {
		display: block;
		margin-top: 120px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;	
	}
}

.searching {
	padding: 4px;
	background: @gray-lighter;

	.logo {
		margin: 0;
	}

	.search-bar {
		margin-top: 10px;
	}
}
